body{
   background-image: url(images/background.jpg);
   background-position: center 0px;
   background-size: cover;
   background-repeat: no-repeat;
}

.container{
    height: 500px;
    width: 450px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 2px solid white;
    margin: 100px auto;
    padding: 52px;
    padding-top: 2px;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 0 0px 20px rgba(237, 237, 238, 0.37);
}

h1{
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

.req{
    color: white;
    display: flex;
    margin-left: 15px;
    font-size: 20px;
    
}

input[type="text"], input[type="password"]{
    height: 45px;
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    padding-left: 20px;
    border-radius: 50px;
    border: 1px solid white;
    background: transparent;
    box-sizing: border-box;
    caret-color: #ffd700; 
    color: white;
    font-size: large;
    font-family: monospace;
 }

 input:focus{
    border-color: #ffd700;
    border-width: 2px;
    outline: none;
 }

 .register-link {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    color: white;
}

a {
    color: #ffd700;
    text-decoration: none;
}

 .options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: white;
    font-size: 18px;
}

.options a{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.options a:hover{
    color: #ffd700;
}

button {
    width: 100%;
    height: 45px;
    padding: 10px;
    background: white;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    color: black;
    cursor: pointer;
    transition: background-color 1s, color 1s , box-shadow 1s;
}

button:hover{
    background-color: #ffd700;
    color: white;
    box-shadow: 0px 0px 25px #ffd700;
}

.register-link a:hover {
  text-decoration: underline;
}